body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("images/santa-monica-pier.jpg"); 

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hotelTable {   
   border-collapse:collapse;
   border:1px solid #000000;
}

.hotelTableHeader {
   text-align:center;
   background:white;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.hotelTableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}
th,td{
	border-right: 2px solid black;
	width: 10%;
}
.hotelTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}

tr{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

td{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;
   border-bottom:1px solid #000000; 
   padding:2px;
}

label{
	background: gold;
}
.table-image{
	width: 240px;
	height: 140px;
}